/*Format the map*/

body {
    padding: 0;
    margin: 0;
  }
  
  #map,
  body,
  html {
    height: 100%;
  }

  /*graph flex conatiner formatting*/
  .flex-conatiner-1 {
    display: flex
  }

  .stock {
    flex: 1;
  }

  .stock:first-stock {
    margin-right: 20px;
  }

   /*graph flex conatiner formatting*/
   .flex-conatiner-2 {
    display: flex
  }

  .stock {
    flex: 1;
  }

  .stock:first-stock {
    margin-right: 20px;
  }